@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        @*change the phone number
        <span>425.555.0100</span>*@
        <span>204.632.2327</span>
    </p>
    <p>
        @*change the information showed here
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>*@
        <span class="label">Toll Free:</span>
        <span>1.800.903.7707</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        @*change the email address here
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>*@
        <span><a href="mailto:zzhao57@academic.rrc.ca">zzhao57@academic.rrc.ca</a></span>
    </p>
    @*delete this tag
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>*@
    <p>
        <span class="label">General:</span>
        @*change the email address here
        <span><a href="mailto:General@example.com">General@example.com</a></span>*@
        <span><a href="mailto:zzhao57@academic.rrc.ca">zzhao57@academic.rrc.ca</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        @*change the address here
        One Microsoft Way<br />
        Redmond, WA 98052-6399*@
        160 Princess Street<br />
        Winnipeg, MB R3B 1K9
    </p>
</section>